<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {% block title %}
      {% endblock %}
    </title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <nav>
      
    </nav>
    {% block body %}
    {% endblock %}
  </body>
</html>
