{% extends 'myapp/base.html' %}

{% block title %} Home {% endblock %}
{% block body %}
{% for product in products %}
<div>
  <img alt="{{ product.name }}" src="{{ product.image.url }}"/>
  <h1> Product Name : {{ product.name }} </h1>
  <h3> Product Price : {{ product.price }}</h3>
  <p> Product Description: {{ product.desc }}</p>
</div>
{% endfor %}
{% endblock %}
